*,
*:after,
*:before {
  font-family: Open Sans;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  color: #404041;
}

header{
  background-color: #404041;
  padding: 6px;
  width: 100%;
  font-weight: 700;
  display: table;

}

#score-bar{
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-left: 4.4%;
  border: 2px solid #E6E7E8;
  color: #ED458B;
  background-color: #404041;
  width: 10%;
  height: 40px;

}

#score-bar:hover{
  cursor: pointer;

}

#drop-down{
  height: 160px;
  width: 107px;
  display: inline;
  top: -10%;
  right: 50%;

}


#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


#dropdown-content p{
  margin-top: 0px;
  color: black;
  padding-top: 10px;
  text-decoration: none;
  display: block;

}

#dropdown-content h4{
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  color: #ED458B;
  font-size: 2em;
}


.pink-head {
  left: -7.2%;
  position: relative;
  color: #ED458B;
  display: inline;
}

#grey-head {
  left: -7.2%;
  position: relative;
  color: #E6E7E8;
  display: inline;

}

#currentGuess {
  font-size: 8em;
  width: 100%;
  color: #ED458B;

}

#range-input{
  margin-top: 15px;


}
#range {
  margin: 5px;

}

#minRange {
  margin-bottom: 15px;
}

#rangeButton {
  margin: 15px;

}

.button{
  background-color: #929497;
  color: #FFFFFF;
  border-radius: 15px;
  border: 5px solid;
  width: 20%;

}

.button:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
  border-radius: 15px;


}

.button:hover:enabled {
  cursor: pointer;
  background-color: #ED458B;

}

#userInput {
  width: 50%;
  margin-bottom: 15px;

}

#resetButton {
  margin-top: 10px;
  width: 50%;

}

p {
  margin-top: 15px;

}


